* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding: 15px;
}

/* Layout */

.grid {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0px 1px 2px rgb(212, 212, 212);
}

.paint {
    background-color: rgb(50, 92, 168);
}

.reset {
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    background-color: #fff;
    outline: none;
    border: 1px solid rgba(209, 209, 209, 0.767);
    font-size: 1.2em;
    box-shadow: 0px 1px 2px rgb(212, 212, 212);
    transition: all .3s;
}

.reset:hover {
    box-shadow: 0px 2px 4px rgb(196, 196, 196);
}

.reset:active {
    box-shadow: 0px 1px 2px rgb(212, 212, 212);
}